#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: alvarobarbery # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4oEUmNmuEv0dbdlXnv1yzX8tGD+3AvHme/bYXHPUgyV14gXkqv2nur8vTcQNKsZKS9ldgt+KeVTQmukHLxZK600jE5/Y7OdAx8A5GzLnOwu+MQ7GKaGngFUBdwwDrAPHm7RUDWuwC9PbxPa/zAiCa8zlmEnsuyivLpFab2wuk/NlXADvSbvp8pLB0aL2TlbMM+A5UMsRECChJIPIMPC4fAMvzLdC6lFK9HM7u0K8TbH7p+CXWr26ZLhveirHDanCcBpqtuMlXgwkgd4+EQFVUB0uUJzTLINkZAZdNfMbJLOHmLcmzx/n9+ZYhxe+N+dq8NnavkCNfGvIbDxrv/I9 alvarobarbery@alvarobarbery-Virtual-Machine
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/PonPeO6txxyomWya+iCM8dnG7bTtMkFwJIrv2zAORK223K11duWHTyiP5EdYXFYYofM5ryPJ/jScQ/D1SHLkXV33VFn/vegT66XVjW13uh3NJ2jYfOyN9GFa1CuIyvoD185Fs4y5oqGjxdCW9Epag984dCrfrY/QxJdzgl1QIwJhhWtK9gQp5x313BaJmEth8hMK6JVXtFKb/5pM4A8r8Zvr1PzE1g2kApXVY587lkckPxgjb7m9n/PFIiBHr1wi9csHCpWBda/N5hpO4aA6XuEJj8CLELvdtSb67ktv4jCBRqB4NRmfYQ6MKYwEqjyBH3yrKAX9cyzdgfpkMBfD jorge@jorge-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
